@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans";
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    overflow: scroll;

}
html{
    scroll-behavior: smooth;
}
.links{
    text-decoration: none;
    color: white;
}
.container{
    background-color: #ffc06df1;
    height: 170vh;
    width: 100vw;
    background: linear-gradient( #ffc06df1 ,  #ffc06df1 ),url(/Images/Tee&Tee.jpg)
    no-repeat center center/cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
   top: 0;
   box-shadow: 0px 2px 4px black;
    padding: 0;
    background-color: #FFFFFF;
}
a{
    color: black;
}
.Back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
    background:#f7aa46;
    color: white;
    text-decoration: #555;
    border-radius: 5px;
    
}

.quote-btn {
    display: inline-block;
    left: 50%;
    align-items: center;
    background:#f7aa46;
    color: white;
    text-decoration: #555;
    border-radius: 5px;
    
}

#sec-btn {
    background-color: #f7aa46;
    color: #ffffff;
    cursor: pointer;

}
.left{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: inherit;
    padding-left: .5rem;
}

.logo img{
    height: 2.2rem;
    aspect-ratio:inherit;
    border-radius: 3rem;
    cursor: pointer;
}
.middle-M{
    display: flex;
    align-items: center;
    gap: .5rem;
    height: inherit;
    margin-right: 35rem;
}
.middle-M li{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: .2rem .5rem;
    transition: transform 0.5s ease,fon-weight 0.5s ease;
    height: fit-content;
    right: 80rem;
}
.middle-M li:hover {
    font-weight: 500;
    border-radius: 1rem;
    background-color:#f7aa46;
    transform: scale(1.2);
}
.middle-M li a{
    font-size: 1rem;
}


.title {
    max-width: 800px;
    margin: 20px auto;
    background-color: darkgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.title h1{
    color:whitesmoke ;
}
.title p {
    color: whitesmoke;
}


.service-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
}
.service-section img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    
}

.service-section::before {
    content: " ";
    background-color: #ffc06df1;
    height: 170vh;
    width: 100vw;
    background:url(/Images/service5.png)
    no-repeat  center/cover;
    filter: blur(8px);
    z-index: -1;
    inset: 0;
    position: absolute;
}
.ovelay{
    backdrop-filter:blur(8px);
}
.service-section li:hover{
    font-weight: 500;
    border-radius: 1rem;
    background-color: rgba(73, 78, 72, 0.123);
    transform: scale(1.2);
}
.service-text  {
    max-width: 600px;
}
.service-text h2{
    font-size: 50px;
    color: #555;
    margin-bottom: 10px;

}
.service-text p{
    font-size: 14px;
    line-height: 1.6;
white-space: pre-wrap !important;
}
.service-text h4{
    font-size: 18px;
    line-height: 1.6;
    
}
.menu-icon{
    font-size: 24px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
/*footer*/
.footer{
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s cubic-bezier(.25, .8, .25 , 1);


    width: 100%;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer.active{
    opacity: 1;
    transform: translateY(0);
}
.footer-links{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
   
}
.footer-links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s ease;
}
.footer-links li a:hover{
    color: #f7aa46;
}
.footer span{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

/* Grid layout */
.services-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
    overflow-x:auto;
    scroll-behavior:smooth;
}
.services-container::-webkit-scrollbar{
    height:8px;
}
/* Card */
.service-card {
    min-width:220px;
    width: 300px;
    background: white;
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    transition: 0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    flex-shrink:0;
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-info {
    padding: 15px;
}

.service-card:hover {
   
        transform:scale(1.05);
        background:#f7aa46;
        color:white;
    
}

.quote-btn {
    border-radius: 2.5rem;
    padding: .5rem 1rem;
    outline: .2rem white solid;
    outline-offset: -.2rem;
    border: none;
    width: fit-content;
    align-items: center;
}
.Back-btn {
    border-radius: 2.5rem;
    padding: .5rem 1rem;
    outline: .2rem white solid;
    outline-offset: -.2rem;
    border: none;
    width: fit-content;
}
/*mobile View*/
@media (max-width: 768px){
    body{
        overflow-x: hidden;
        font-size: 13px;
    }

    .container{
        height: auto;
        width: 100%;
        padding: 10px;
    }
   
    .middle-M{
        position:absolute;
        top:8vh;
        left:0;
        width:100%;
        background:white;
        flex-direction:column;
        align-items:center;
        display:none;
        padding:10px 0;
    }

    .middle-M.show{
        display:flex;
    }

    .middle-M li a{
        font-size:0.85rem;
    }

    .menu-icon{
        display:block;
    }
    
    .menu-icon{
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: relative;
        z-index: 30;
        margin-right: 5rem;
    }
    .middle-M{
        display: none;
        flex-direction: column;
        font-size: 14px;
        position: absolute;
        top: 60px;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 100%;
        padding: 10px 10px;
       left: 0;
        z-index: 25;
        
       
    }
    
    .middle-M.active{
        display: flex;
    }
    
    .footer{
        
        padding: 10px 0;
        font-size: 12px;
        gap: 5px;
    }
    .footer-links{
        flex-direction: column;
        gap: 6px;
       
    }
    .footer-links li a{
        
        font-size: 12px;
        
    }
    .footer span{
      
        font-size: 10px;
       
    }
    /*nav*/
    .logo img{
        height: 1.5rem;
        
        border-radius: 2rem;
        
    }
    h2,h4,p{
        text-align: center;
        tab-size: 0cap;
    }
    .Back-btn {
        padding: .4rem .8rem;
        font-size: 14px;
    }

    .Back-btn:hover {
        transform: none; /* remove zoom effect on mobile */
    }
    .service-section{
        flex-direction: column;
        text-align: center;
    }
    .service-section img{
        width: 100%;
        height: 220px;
    }
    .service-text h2{
        font-size: 18px;

    }
    .service-text p{
        font-size: 11px;
        
        
        
        
    }
    .service-text h4{
        font-size: 16px;
        
    }
}
